# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
*.env

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# IDE-specific files
.idea/
.vscode/